<?xml version="1.0" encoding="utf-8"?>
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
<!--        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
<!--        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/CarRent</property>
        <property name="hibernate.connection.username">car</property>
        <property name="hibernate.connection.password">rent</property>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Show SQL in console (optional, useful for debugging) -->
        <property name="hibernate.show_sql">true</property>

        <!-- Automatic schema update (optional, for development/testing only) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Add entity class mapping -->
        <!-- <mapping class="models.Car"/> -->
        <mapping class="database_layer.CarEntity"/>
    </session-factory>
</hibernate-configuration>